.speisekarte{
    top: 40;
    /* background: rgb(0, 0, 0); /* Fallback color */
    /* background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 50px;
    color:white;
    font-size:20px;
  }

.menubox{
    overflow:hidden;
    color: white;
    margin-left:5px;
    margin-top:30px;
    width:fit-content;
   /*  background:rgba(0, 0, 0, 0.5); */
    /*margin-left:500px;*/
    /*padding-bottom:16px;
    padding-top:16px;
    padding-left:14px;
    padding-right:14px;  */
    margin-top:0px;

  }
.klbox{
  width:55%;  
  color:white;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  /*background-color: white;*/
}

.beisl_headerflex{
    display: flex;
    justify-content:space-between;  
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
}
.menubox>a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.menubox>a.active {
  background-color: #04AA6D;
  color: white;
}
.menubox>a:hover {
  background-color: #ddd;
  color: black;
}

.beisl_auswahl_speisen{
  display: flex;
  justify-content:space-between;  
  background-color: rgba(0, 0, 0, 0.5);  
}
.speisekarte_auswahl{
  overflow:hidden;
  color: white;
  margin-left:5px;
  margin-top:30px;
  width:max-content;
 /*  background:rgba(0, 0, 0, 0.5); */
  /*margin-left:500px;*/
  /*padding-bottom:16px;
  padding-top:16px;
  padding-left:14px;
  padding-right:14px;  */
  margin-top:0px;
  text-align: center;

}
.speisekarte_auswahl>a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.speisekarte_auswahl>a.active {
  background-color: #9ff5d6;
  color: white;
}
.speisekarte_boxlinks {
  /*background-color: #ddd;*/
  color: black;
  width:40%;
}

.speisekarte_auswahl>a:hover {
  background-color: #ddd;
  color: black;
}